*/bin/*
*/obj/*
*packages/*
*.userprefs

*.DS_Store

*.pyc

# nltk-specific corpora
written_texts.docx
interview02txt.txt
parsed_written_texts.txt
parsed_spoken_texts.txt

# parsed word analysis input and output
parsed-text.txt
raw-text.txt
parsed-text-manually-analyzed.txt
*/manually-analyzed/*
*/output/*

# facebook archive
facebook-aareundo

# word api key
mashable_key

# nltk raw text folder
raw_texts

# facebook chat message
message.json

loengu-tagasiside-25.10-1.xlsx
loengu-tagasiside-25.10-1.json

loengu-tagasiside-25.10-1_by_row.json
loengu-tagasiside-25.10-1_by_column.json